body {
  max-width: 1200px;
  margin: 2rem auto;
  font-family: Inter, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 11px 24px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  background: #202223;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  transition: all 0.3s;
}

button:hover {
  background: #f6f6f7;
  color: #202020;
  outline: 1px solid transparent;
}

#visualization {
  padding: 10px;
}
